@model ASP_proj.Models.Route

@{
    ViewData["Title"] = "Create route";
}

<h2>Create route</h2>

<form action="/Routes/Create" method="post">
    @Html.AntiForgeryToken()

    <div class="mb-3">
        <label>Number</label>
        <input name="Number" class="form-control" />
    </div>

    <div class="mb-3">
        <label>Start point</label>
        <input name="StartPoint" class="form-control" />
    </div>

    <div class="mb-3">
        <label>End point</label>
        <input name="EndPoint" class="form-control" />
    </div>

    <button type="submit" class="btn btn-primary">Save</button>
    <a href="/Routes/Index" class="btn btn-secondary">Back</a>
</form>